/* Remove header */
:-webkit-any(.native, .maximized)#browser #header {
	min-height: 0 !important;
}

/* Keep Vivaldi button */
:-webkit-any(.native, .maximized)#browser .vivaldi  {
	z-index: 1;
}

/* Keep horizontal menu */
:-webkit-any(.native, .maximized)#browser .topmenu {
	position: absolute;
}

/* Reduce toolbar size for vivialdi button */
:-webkit-any(.native, .maximized)#browser:not(.tabs-top) .toolbar.toolbar-addressbar {
	padding-left: 24px;
}

/* Reduce toolbar size for horizontal menu */
:-webkit-any(.native, .maximized).horizontal-menu#browser:not(.tabs-top) .toolbar.toolbar-addressbar {
	padding-left: 267px;
}

/* Non-Native window fixes */

/* Keep window buttons */
.maximized#browser .window-buttongroup {
	z-index: 1;
}

/* Reduce toolbar size for window buttons */
.maximized#browser:not(.native):not(.tabs-top) .toolbar.toolbar-addressbar {
	padding-right: 140px;
}

/* Adjust horizontal menu position */
.maximized#browser:not(.native) .topmenu {
	left: -30px;
}

/* Remove vivaldi button, horizontal menu and window buttons when no ui */
.maximized.minimal-ui#browser :-webkit-any(.vivaldi, .topmenu, .window-buttongroup) {
	display: none !important;
}

/* Tabs on top fixes */

/* Maximized not Native - Reduce tab bar size for horizontal menu and window buttons */
.maximized.horizontal-menu#browser:not(.native) #tabs-container.top {
	padding-left: 276px !important;
	padding-right: 140px !important;
}

/* Native - Reduce tab bar size for horizontal menu and window buttons */
.native.horizontal-menu#browser #tabs-container.top {
	padding-left: 276px !important;
}
